/**
 * @brief Styles for FatScript HTMLbox
 * @author Antonio Prates <hello@aprates.dev>
 * @copyright HTMLbox <https://gitlab.com/aprates/htmlbox>
 * License: MIT
 */

:root {
  --primary-color: #98c379;
  --secondary-color: #e06c75;
  --tertiary-color: #d19a66;
  --quaternary-color: #c678dd;
  --accent-color: #61afef;
  --accent-color2: #a9d8ff;
  --text-color: #abb2bf;
  --border-color: #5c6370;
  --light-bg-color: #3a3f4b;
  --background-color: #282c34;
  --dark-bg-color: #21252b;
  --darker-bg-color: #1c1f26;
}

@font-face {
  font-family: "Hermit";
  src: url("hermit.woff2") format("woff2");
  /* source: https://pcaro.es/hermit */
}

html {
  background-color: var(--background-color);
  color: var(--text-color);
}

body {
  font-family: Hermit, monospace;
  width: 80%;
  margin: auto;
  margin-top: 24px;
  margin-bottom: 24px;
  line-height: 1.6;
  font-size: 14pt;
}

header,
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--dark-bg-color);
  padding: 8px 24px;
  border-radius: 8px;
  margin-top: 8px;
}

h1,
h2,
h3 {
  margin: 24px 0 16px;
  color: var(--primary-color);
}

h2 {
  color: var(--tertiary-color);
}

h3 {
  color: var(--quaternary-color);
}

li {
  list-style: none;
  margin-top: 8px;
}

li::before {
  content: "\2022";
  color: var(--tertiary-color);
  display: inline-block;
  width: 24px;
  margin-left: -24px;
}

a {
  color: var(--accent-color);
  text-decoration: none;
  transition: color 0.3s;
}

a:hover {
  color: var(--accent-color2);
  text-decoration: underline;
}

pre {
  background-color: var(--darker-bg-color);
  padding: 24px;
  margin-top: 16px;
  margin-bottom: 16px;
  overflow: auto;
  border-radius: 8px;
  font-size: 12pt;
}

button {
  font-family: Hermit, monospace;
  background-color: var(--secondary-color);
  color: white;
  font-size: 14pt;
  border: none;
  padding: 4px 16px 8px;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button[type="submit"] {
  background-color: var(--primary-color);
}

button:hover {
  background-color: var(--accent-color);
}

button:active {
  background-color: var(--accent-color2);
}

input,
select,
textarea {
  font-family: Hermit, monospace;
  color: var(--text-color);
  background-color: var(--darker-bg-color);
  border: 1px solid var(--border-color);
  font-size: 12pt;
  padding: 8px 12px 8px;
  border-radius: 8px;
}

select {
  padding: 8px 12px 6.55px; /* fix weird size */
}

input:invalid,
select:invalid,
textarea:invalid {
  border-color: var(--secondary-color);
}

input[type="radio"] {
  margin: 14px 12px 13px 16px;
}

input[type="checkbox"] {
  margin: 14px 12px 13px 0;
}

input:disabled {
  color: var(--border-color);
  background-color: var(--dark-bg-color);
}

.form-group {
  margin: 12px 12px 12px 0;
  display: inline-block;
}

.image-grid {
  margin-top: 8px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 8px;
}

.image-item {
  overflow: hidden;
  position: relative;
  border-radius: 8px;
}

.image-item img {
  width: 100%;
  height: 100%;
  display: block;
}

.image-label {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgba(28, 31, 38, 0.9);
  text-align: center;
  padding-top: 2px;
  font-size: 12pt;
}

.menu {
  display: flex;
  background-color: var(--darker-bg-color);
  margin-top: 8px;
  padding: 0 8px;
  border-radius: 8px;
  position: relative;
  z-index: 2;
}

.submenu {
  display: flex;
  background-color: var(--dark-bg-color);
  margin-top: -12px;
  padding: 0 8px;
  padding-top: 12px;
  border-radius: 8px;
  position: relative;
  z-index: 1;
}

.menu-selected {
  background-color: var(--background-color);
}

.submenu-selected {
  background-color: var(--darker-bg-color);
}

.menu-item {
  padding: 4px 8px;
  margin: 16px 8px;
  display: block;
  border: 0;
  border-radius: 8px;
  transition: background-color 0.3s;
}

.submenu-item {
  color: var(--secondary-color);
  padding: 4px 8px 2px;
  margin: 8px 4px;
  display: block;
  border: 0;
  border-radius: 6px;
  transition: background-color 0.3s;
  font-size: 12pt;
}

.menu-item:hover {
  background-color: var(--light-bg-color);
  text-decoration: none;
}

.submenu-item:hover {
  color: var(--tertiary-color);
  background-color: var(--darker-bg-color);
  text-decoration: none;
}

.box {
  background-color: var(--dark-bg-color);
  padding: 8px 24px;
  margin-top: 8px;
  background-color: var(--dark-bg-color);
  border-radius: 8px;
}

.feedback {
  display: inline-block;
  margin: 8px;
  opacity: 0;
  transition: color 0.5s ease, opacity 0.5s ease;
}

.alignRight {
  text-align: right;
}

.loader,
.loader:after {
  box-sizing: border-box;
}

.loader {
  color: var(--tertiary-color);
  display: inline-block;
  width: 32px;
  height: 32px;
  opacity: 0;
  transition: color 0.5s ease, opacity 0.5s ease;
}

.loader:after {
  content: " ";
  display: block;
  width: 24px;
  height: 24px;
  margin: 12px;
  border-radius: 50%;
  border: 4px solid currentColor;
  border-color: currentColor transparent currentColor transparent;
  animation: loader 1.5s linear infinite;
}

@keyframes loader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

::-webkit-scrollbar {
  background-color: var(--dark-bg-color);
  border-radius: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--light-bg-color);
  border-radius: 8px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--border-color);
}

@media (max-width: 768px) {
  body {
    width: 90%;
  }

  .menu,
  .submenu {
    display: block;
    padding: 4px;
    margin-top: 4px;
  }

  .menu-item,
  .submenu-item {
    padding: 16px;
    margin: 8px;
    font-size: large;
  }
}

@media (min-width: 1400px) {
  body {
    width: 70%;
  }
}

@media (min-width: 1920px) {
  body {
    width: 60%;
  }
}
